#ucl {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 116px;
  z-index: 2;
}

.container {
    margin: auto;
    width: 1000px;
}

header {
    padding: 24px 0;
    border-bottom: 1px solid;
}

header nav {
  margin-bottom: 2rem;
}

footer {
    height: 200px;
    padding: 24px 0;
}

main {
    min-height: 500px;
    padding: 24px 0;
}

time {
    font-size: small;
}
